

<h1>Register!</h1>



<%= form_for :reg, url: '/reg' do |f| %>

  <div class="field">
  Name: <%= f.text_field :name %>
  </div>

  <div class="field">
  Email: <%= f.text_field :email %>
  </div>

  <div class="field">
  Password: <%= f.password_field :password %>
  </div>

  <div class="field">
  Password Confirmation: <%= f.password_field :password_confirmation %>
  </div>


  <%= f.submit "Submit" %>

<% end %>


