<!DOCTYPE html>
<html land="en">
<head>
  <meta charset="utf-8">
    <link href="base.css" rel="stylesheet" type="text/css">
    <link href="reg.scss" rel = "stylesheet" type = "text/css">
</head>

<body>
  <div class="joinUs-content">

      <h2>Sign Up Now!</h2> 


    
      <div class = "sign-up">



        <%= form_for :reg, url: '/reg' do |f| %>

        <div class="field" >
        
        Name:<br><%= f.text_field :name %>  </br>
       
        
      
        Email: <br> <%= f.text_field :email %> </br>
        

 
        Password: <br> <%= f.password_field :password %> </br>
     


        Password Confirmation: <br> <%= f.password_field :password_confirmation %> </br>
        </div>


        <%= f.submit "Submit" %>

        <% end %>
    </div>
  </div>
</body>